@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;700&display=swap');

:root {
  font-size: 10px;
}

body {
  background: #ccc;
  color: #333;
  font-family: 'Kaisei Opti', serif;
}

.app-display {
  display: flex;
  width: 100%;
  min-height: 360px;
  height: calc(100vh - 85px);
  padding-bottom: 20px;
  align-items: flex-start;
}

#order-of-action {
  padding: 0 0 20px;
  width: 20%;
  // height: 100%;
  overflow: auto;
  position: relative;
}

.order {
  font-size: 1.4rem;
  margin-bottom: 5px;
  position: relative;
  &.active {
    display: inline-block;
    padding-left: 1em;
    border-left: #ff8d8d solid 5px;
  }
}
.main {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 0 20px;
  background: url('img/bg/bg1.png') no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
#battle-field {
  height: calc(100% - 50px);
  position: relative;
  overflow: auto;
  display: flex;
  justify-content: space-between;
}
.battle-field__item {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#ally-sp,
#enemy-sp {
  width: 100%;
  height: 40px;
  padding: 20px 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 5px rgb(255, 255, 255));
  .sp-circle {
    width: 24px;
    height: 24px;
    background: url('img/sp.png') no-repeat center center;
    margin: 5px;
  }
}
.enemy-side,
.ally-side {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.character {
  width: 120px;
  background: #fff;
  border-radius: 5px;
  box-shadow: -10px 5px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: 10px 15px;
  transition: .2s;
  .strategy-select {
    width: 100%;
    font-size: 1rem;
    margin-top: 10px;
    option {
      font-family: 'Kaisei Opti', serif;
    }
  }
  &.attack {
    position: relative;
    transform: scale(1.05);
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(255, 255, 255, 0.3);
    }
  }
  &.damage {
    position: relative;
    transform: scale(0.98);
    transition: .2s;
    animation: wink 0.35s linear infinite;
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(transparent, rgb(255 0 0 / 30%));
    } 
    .damage-text {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      padding-top: 100px;
      font-size: 2.5rem;
      color: #ff0000;
      text-align: center;
      font-weight: bold;
      letter-spacing: 0.15em;
      text-shadow: 0 0 4px #fff;
      z-index: 1;
    }
  }
  &.recovery {
    position: relative;
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(transparent, rgba(0, 255, 174, 0.3))
    } 
    .recovery-text {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      padding-top: 100px;
      font-size: 2.5rem;
      color: #00a987;
      text-align: center;
      font-weight: bold;
      letter-spacing: 0.15em;
      text-shadow: 0 0 4px #fff;
      z-index: 1;
    }
  }
  &.miss {
    position: relative;
    transform: translate(10px, 0);
    &::after {
      content: '回避';
      text-align: center;
      font-size: 2.5rem;
      padding-top: 70px;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(255, 255, 255, 0.3);
    } 
  }
  &.defeated {
    filter: brightness(0.5) grayscale(1);
    opacity: .8;
    transform: scale(0.9);
  }
  &-box {
    position: relative;
  }
  &-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
  }
  &-img {
    width: 100%;
    height: 85px;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 15px;
  }
  &-hp-indicator,
  &-sp-indicator {
    width: 100%;
    height: 10px;
    border-radius: 0;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    display: block;
  }
  &-hp-indicator {
    bottom: 10px;
    margin-bottom: 2px;
    &::-webkit-progress-value {
      background-color: #87c987;
    }
    &::-webkit-progress-bar {
      background-color: #ff8d8d;
    }
  }
  &-sp-indicator {
    &::-webkit-progress-value {
      background-color: #a6a6ff;
    }
    &::-webkit-progress-bar {
      background-color: #e5e5e5;
    }
  }
}
.gui {
  width: 100%;
  height: 60px;
  font-size: 1.4rem;
  background: #ddd;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 30px;
}

#battle-log {
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  padding: 1em;
  color: #999;
  overflow-y: scroll;
  transition: .2s;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
  backdrop-filter: blur(5px);
  &.open {
    height: 25vh;
    font-size: 1.8rem;
  }
  div:first-child {
    color: #ccc;
  }
}
.battle-log {
  height: 50px;
  position: relative;
}


progress {
  display: block;
}

input#upload {
  display: block;
  font-family: 'Kaisei Opti', serif;
}

#start-battle {
  background: #eee;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 240px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s color ease-in-out;
  font-weight: 500;
  z-index: 0;
  border: 0;
  border-left: solid 5px #6bb6ff;
  font-family: 'Kaisei Opti', serif;
  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    display: block;
    background: #6bb6ff;
    transition: .3s width ease-in-out;
    left: 0;
  }
  
  &:hover {
    color: #FFF;
  }
  
  &:hover:before {
    width: 100%;
    z-index: -1;
  }
}

.thanks {
  padding: 0.5em;
}

// チカチカするアニメーション
@keyframes wink {
  0% {
    filter: brightness(1) blur(0);
  }
  50% {
    filter: brightness(.5) blur(3px);
  }
  100% {
    filter: brightness(1) blur(0);
  }
}