@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;700&display=swap');

:root {
  font-size: 10px;
}

body {
  background: #ccc;
  color: #333;
  font-family: 'Kaisei Opti', serif;
}

.app-display {
  display: flex;
  width: 100%;
  min-height: 360px;
  height: calc(100vh - 85px);
  padding-bottom: 20px;
  align-items: flex-start;
  background-image: url("img/bg/bg1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#order-of-action {
  padding: 20px 20px 100px 0;
  width: 20%;
  // height: 100%;
  overflow: auto;
  position: relative;
  font-size: 1.6rem;
  line-height: 2;
  color: #fff;
  .order {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    animation: sortUp 0.5s linear forwards;
    border-radius: 0 5px 5px 0;
    background: linear-gradient(-90deg, rgba(0, 0, 17, 0.5), transparent);
    box-shadow: 0 0 1.5px #fff;
    border-right: #1c1c32 10px solid;
    &.enemy {
      border-right: #691e1e 10px solid;
    }
    &.ally {
      border-right: #1e4669 10px solid;
    }
    &:first-child {
      // animation: join 0.5s linear forwards;
      background: linear-gradient(-90deg, rgba(52, 0, 6, 0.5), transparent);
    }
  }
}

@keyframes sortUp {
  from {
    transform: translateY(38px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes join {
  from {
    opacity: 0.6;
    transform: translateY(42px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.order {
  font-size: 1.4rem;
  margin-bottom: 5px;
  position: relative;
  &.active {
    display: inline-block;
    padding-left: 1em;
    border-left: #ff8d8d solid 5px;
  }
}
.main {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#battle-field {
  height: 75%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.battle-field__item {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#ally-sp,
#enemy-sp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 0 10px;
  min-width: 150px;
  position: absolute;
  top: 10px;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: -20%;
  }
  .sp-circle {
    width: 24px;
    height: 24px;
    background: url('img/sp.png') no-repeat center center;
    margin: 5px;
    position: relative;
    z-index: 1px;
  }
}
#ally-sp {
  left: 0;
  justify-content: flex-start;
  &::before {
    border-radius: 10px;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
  }
}
#enemy-sp {
  right: 0;
  justify-content: flex-end;
  &::before {
    border-radius: 10px 0 0 10px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
  }
}
.enemy-side,
.ally-side {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .backline,
  .frontline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
  }
}

.character {
  width: 120px;
  background: #fff;
  border-radius: 5px;
  box-shadow: -10px 5px 8px rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  margin: 0 auto;
  opacity: 1;
  transition: .4s;
  background-image: url('img/card-bg.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  .ally-side & {
    transition-delay: .2s;
    &.join {
      transform: translate(-200px, 0) rotate(-90deg);
      opacity: 0;
    }
  }
  .enemy-side & {
    &.join {
      transform: translate(200px, 0) rotate(90deg);
      opacity: 0;
    }
  }
  &:not(:last-child) {
    margin-bottom: 15px;
  }
  .strategy-select {
    width: 100%;
    font-size: 1rem;
    margin-top: 10px;
    option {
      font-family: 'Kaisei Opti', serif;
    }
  }
  &.attack {
    position: relative;
    transform: scale(1.05);
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(255, 255, 255, 0.3);
    }
  }
  &.damage {
    position: relative;
    transform: scale(0.98);
    transition: .2s;
    animation: wink 0.35s linear infinite;
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(transparent, rgb(255 0 0 / 30%));
    } 
    .damage-text {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      padding-top: 100px;
      font-size: 2.5rem;
      color: #ff0000;
      text-align: center;
      font-weight: bold;
      letter-spacing: 0.15em;
      text-shadow: 0 0 4px #fff;
      z-index: 1;
    }
  }
  &.recovery {
    position: relative;
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(transparent, rgba(0, 255, 174, 0.3))
    } 
    .recovery-text {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      padding-top: 100px;
      font-size: 2.5rem;
      color: #00a987;
      text-align: center;
      font-weight: bold;
      letter-spacing: 0.15em;
      text-shadow: 0 0 4px #fff;
      z-index: 1;
    }
  }
  &.miss {
    position: relative;
    transform: translate(10px, 0);
    &::after {
      content: '回避';
      text-align: center;
      font-size: 2.5rem;
      padding-top: 70px;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(255, 255, 255, 0.3);
    } 
  }
  &.defeated {
    filter: brightness(0.5) grayscale(1);
    opacity: .8;
    transform: scale(0.9);
  }
  &-box {
    position: relative;
  }
  &-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
  }
  &-img {
    width: 100%;
    height: 85px;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 15px;
  }
  &-hp-indicator,
  &-sp-indicator {
    width: 100%;
    height: 10px;
    border-radius: 0;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    display: block;
  }
  &-hp-indicator {
    bottom: 10px;
    margin-bottom: 2px;
    &::-webkit-progress-value {
      background-color: #87c987;
    }
    &::-webkit-progress-bar {
      background-color: #ff8d8d;
    }
  }
  &-sp-indicator {
    &::-webkit-progress-value {
      background-color: #a6a6ff;
    }
    &::-webkit-progress-bar {
      background-color: #e5e5e5;
    }
  }
}

.status {
  position: relative;
  &-inner {
    line-height: 1.8;
    visibility: hidden;
    width: 160px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    color: #fff;
    text-align: center;
    padding: 10px 15px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: -60px;
    left: 100%;
    opacity: 0;
    transition: opacity 0.3s;
    th,
    td {
      vertical-align: top;
    }
    th {
      text-align: right;
      width: 40px;
    }
    td {
      text-align-last: left;
    }
    .character:hover & {
      visibility: visible;
      opacity: 1;
    }
  }
}


#battle-log {
  width: 100%;
  font-size: 1.8rem;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 17, 0.8), rgba(0, 0, 17, 0.5));
  box-shadow: 0 0 1.5px #fff;
  color: #999;
  overflow-y: scroll;
  padding: 10px 20px 0;
  border-radius: 10px 0 0 10px;
  transition: .2s;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
  backdrop-filter: blur(5px);
  &.open {
    height: calc(100vh - 125px);
  }
  div {
    animation: logIn 0.5s linear forwards;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  div:first-child {
    color: #ccc;
  }
}
.battle-log {
  height: 25%;
  position: relative;
}

@keyframes logIn {
  from {
    max-height: 0;
  }
  to {
    max-height: 200px;
  }
}

progress {
  display: block;
}

input#upload {
  display: block;
  font-family: 'Kaisei Opti', serif;
}

#start-battle {
  background: #eee;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 240px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s color ease-in-out;
  font-weight: 500;
  z-index: 0;
  border: 0;
  border-left: solid 5px #6bb6ff;
  font-family: 'Kaisei Opti', serif;
  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    display: block;
    background: #6bb6ff;
    transition: .3s width ease-in-out;
    left: 0;
  }
  
  &:hover {
    color: #FFF;
  }
  
  &:hover:before {
    width: 100%;
    z-index: -1;
  }
}

.thanks {
  padding: 0.5em 2em;
}

// チカチカするアニメーション
@keyframes wink {
  0% {
    filter: brightness(1) blur(0);
  }
  50% {
    filter: brightness(.5) blur(3px);
  }
  100% {
    filter: brightness(1) blur(0);
  }
}


.gui {
  width: 100%;
  height: 60px;
  font-size: 1.4rem;
  background: #ddd;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 30px;
}