@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;700&display=swap");
:root {
  font-size: 10px;
}

body {
  background: #ccc;
  color: #333;
  font-family: "Kaisei Opti", serif;
}

.app-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 360px;
  height: calc(100vh - 85px);
  padding-bottom: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: url("img/bg/bg1.png") no-repeat center center;
  background-size: cover;
}

#order-of-action {
  padding: 20px 20px 100px 0;
  width: 20%;
  overflow: auto;
  position: relative;
  font-size: 1.6rem;
  line-height: 2;
  color: #fff;
}
#order-of-action div {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
  -webkit-animation: sortUp 0.5s linear forwards;
          animation: sortUp 0.5s linear forwards;
  border-radius: 0 5px 5px 0;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 17, 0.5)), to(transparent));
  background: linear-gradient(-90deg, rgba(0, 0, 17, 0.5), transparent);
  -webkit-box-shadow: 0 0 1.5px #fff;
          box-shadow: 0 0 1.5px #fff;
  border-right: #1c1c32 10px solid;
}
#order-of-action div:first-child {
  -webkit-animation: join 0.5s linear forwards;
          animation: join 0.5s linear forwards;
}
#order-of-action div:first-child::before {
  content: "";
  width: 100%;
  height: 0.6em;
  border-radius: 0;
  position: absolute;
  left: 0;
  bottom: -0.2em;
  background: -webkit-gradient(linear, left top, right top, from(#ff6e6e), to(transparent));
  background: linear-gradient(90deg, #ff6e6e, transparent);
  z-index: -1;
}

@-webkit-keyframes sortUp {
  from {
    -webkit-transform: translateY(42px);
            transform: translateY(42px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes sortUp {
  from {
    -webkit-transform: translateY(42px);
            transform: translateY(42px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes join {
  from {
    opacity: 0.6;
    -webkit-transform: translateY(42px);
            transform: translateY(42px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes join {
  from {
    opacity: 0.6;
    -webkit-transform: translateY(42px);
            transform: translateY(42px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.order {
  font-size: 1.4rem;
  margin-bottom: 5px;
  position: relative;
}
.order.active {
  display: inline-block;
  padding-left: 1em;
  border-left: #ff8d8d solid 5px;
}

.main {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#battle-field {
  height: 75%;
  position: relative;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.battle-field__item {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#ally-sp,
#enemy-sp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  padding: 0 10px;
  min-width: 150px;
  position: absolute;
  top: 10px;
}
#ally-sp::before,
#enemy-sp::before {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  left: 0;
  bottom: -20%;
}
#ally-sp .sp-circle,
#enemy-sp .sp-circle {
  width: 24px;
  height: 24px;
  background: url("img/sp.png") no-repeat center center;
  margin: 5px;
  position: relative;
  z-index: 1px;
}

#ally-sp {
  left: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
#ally-sp::before {
  border-radius: 10px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
}

#enemy-sp {
  right: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#enemy-sp::before {
  border-radius: 10px 0 0 10px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
}

.enemy-side,
.ally-side {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.enemy-side .backline,
.enemy-side .frontline,
.ally-side .backline,
.ally-side .frontline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 100%;
}

.character {
  width: 120px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: -10px 5px 8px rgba(0, 0, 0, 0.3);
          box-shadow: -10px 5px 8px rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  margin: 0 auto;
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.ally-side .character {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.ally-side .character.join {
  -webkit-transform: translate(-200px, 0) rotate(-90deg);
          transform: translate(-200px, 0) rotate(-90deg);
  opacity: 0;
}
.enemy-side .character.join {
  -webkit-transform: translate(200px, 0) rotate(90deg);
          transform: translate(200px, 0) rotate(90deg);
  opacity: 0;
}
.character:not(:last-child) {
  margin-bottom: 15px;
}
.character .strategy-select {
  width: 100%;
  font-size: 1rem;
  margin-top: 10px;
}
.character .strategy-select option {
  font-family: "Kaisei Opti", serif;
}
.character.attack {
  position: relative;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.character.attack::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.3);
}
.character.damage {
  position: relative;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-animation: wink 0.35s linear infinite;
          animation: wink 0.35s linear infinite;
}
.character.damage::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 0, 0, 0.3)));
  background: linear-gradient(transparent, rgba(255, 0, 0, 0.3));
}
.character.damage .damage-text {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding-top: 100px;
  font-size: 2.5rem;
  color: #ff0000;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.15em;
  text-shadow: 0 0 4px #fff;
  z-index: 1;
}
.character.recovery {
  position: relative;
}
.character.recovery::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 255, 174, 0.3)));
  background: linear-gradient(transparent, rgba(0, 255, 174, 0.3));
}
.character.recovery .recovery-text {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding-top: 100px;
  font-size: 2.5rem;
  color: #00a987;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.15em;
  text-shadow: 0 0 4px #fff;
  z-index: 1;
}
.character.miss {
  position: relative;
  -webkit-transform: translate(10px, 0);
          transform: translate(10px, 0);
}
.character.miss::after {
  content: "回避";
  text-align: center;
  font-size: 2.5rem;
  padding-top: 70px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.3);
}
.character.defeated {
  -webkit-filter: brightness(0.5) grayscale(1);
          filter: brightness(0.5) grayscale(1);
  opacity: 0.8;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.character-box {
  position: relative;
}
.character-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}
.character-img {
  width: 100%;
  height: 85px;
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 15px;
}
.character-hp-indicator, .character-sp-indicator {
  width: 100%;
  height: 10px;
  border-radius: 0;
  overflow: hidden;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  display: block;
}
.character-hp-indicator {
  bottom: 10px;
  margin-bottom: 2px;
}
.character-hp-indicator::-webkit-progress-value {
  background-color: #87c987;
}
.character-hp-indicator::-webkit-progress-bar {
  background-color: #ff8d8d;
}
.character-sp-indicator::-webkit-progress-value {
  background-color: #a6a6ff;
}
.character-sp-indicator::-webkit-progress-bar {
  background-color: #e5e5e5;
}

.status {
  position: relative;
}
.status-inner {
  line-height: 1.8;
  visibility: hidden;
  width: 160px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: -60px;
  left: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.status-inner th,
.status-inner td {
  vertical-align: top;
}
.status-inner th {
  text-align: right;
  width: 40px;
}
.status-inner td {
  -moz-text-align-last: left;
       text-align-last: left;
}
.character:hover .status-inner {
  visibility: visible;
  opacity: 1;
}

#battle-log {
  width: 100%;
  font-size: 1.8rem;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 17, 0.8)), to(rgba(0, 0, 17, 0.5)));
  background: linear-gradient(90deg, rgba(0, 0, 17, 0.8), rgba(0, 0, 17, 0.5));
  -webkit-box-shadow: 0 0 1.5px #fff;
          box-shadow: 0 0 1.5px #fff;
  color: #999;
  overflow-y: scroll;
  padding: 10px 20px 0;
  border-radius: 10px 0 0 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
#battle-log.open {
  height: calc(100vh - 125px);
}
#battle-log div {
  -webkit-animation: logIn 0.5s linear forwards;
          animation: logIn 0.5s linear forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#battle-log div:first-child {
  color: #ccc;
}

.battle-log {
  height: 25%;
  position: relative;
}

@-webkit-keyframes logIn {
  from {
    max-height: 0;
  }
  to {
    max-height: 200px;
  }
}

@keyframes logIn {
  from {
    max-height: 0;
  }
  to {
    max-height: 200px;
  }
}
progress {
  display: block;
}

input#upload {
  display: block;
  font-family: "Kaisei Opti", serif;
}

#start-battle {
  background: #eee;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 240px;
  padding: 10px 25px;
  color: #313131;
  -webkit-transition: 0.3s color ease-in-out;
  transition: 0.3s color ease-in-out;
  font-weight: 500;
  z-index: 0;
  border: 0;
  border-left: solid 5px #6bb6ff;
  font-family: "Kaisei Opti", serif;
  cursor: pointer;
}
#start-battle:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  display: block;
  background: #6bb6ff;
  -webkit-transition: 0.3s width ease-in-out;
  transition: 0.3s width ease-in-out;
  left: 0;
}
#start-battle:hover {
  color: #FFF;
}
#start-battle:hover:before {
  width: 100%;
  z-index: -1;
}

.thanks {
  padding: 0.5em 2em;
}

@-webkit-keyframes wink {
  0% {
    -webkit-filter: brightness(1) blur(0);
            filter: brightness(1) blur(0);
  }
  50% {
    -webkit-filter: brightness(0.5) blur(3px);
            filter: brightness(0.5) blur(3px);
  }
  100% {
    -webkit-filter: brightness(1) blur(0);
            filter: brightness(1) blur(0);
  }
}

@keyframes wink {
  0% {
    -webkit-filter: brightness(1) blur(0);
            filter: brightness(1) blur(0);
  }
  50% {
    -webkit-filter: brightness(0.5) blur(3px);
            filter: brightness(0.5) blur(3px);
  }
  100% {
    -webkit-filter: brightness(1) blur(0);
            filter: brightness(1) blur(0);
  }
}
.gui {
  width: 100%;
  height: 60px;
  font-size: 1.4rem;
  background: #ddd;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 30px;
}